<%
if (typeof cssLoads == "undefined")
    cssLoads = [];
if (typeof jsLoads == "undefined")
    jsLoads = [];
%>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <% for (var i in cssLoads) { %>
        <link rel="stylesheet" href="<%= cssLoads[i] %>">
    <% } %>

    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/jquery.js"></script>
    <% for (var i in jsLoads) { %>
        <script src="<%= jsLoads[i] %>"></script>
    <% } %>

    <script>
        Number.prototype.toBrazilCurrency = function () {
            return this.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.").replace(/\.(\d{2})$/g, ',$1');
        }
        vue = {
            el: '#page-content',
        };
    </script>

    <title>Imobiliária do Gustavo Dias</title>
</head>

<body>
    <!-- Page content -->
    <div class="page-content" id="page-content">
        <a href="/" class="page-header-link-to-home">
            <header class="jumbotron page-header">
                <h1 class="text-center" id="page-title">Minha imobiliária do Gustavo Dias</h1>
            </header>
        </a>
        <nav class="navbar navbar-expand-lg navbar-light bg-light page-navbar">
            <div class="collapse navbar-collapse container">
                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar imóvel">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="main-content container">
            <main role="main" class="main">
                <%- pageContent %>
            </main>
            <div class="row-separator"></div>
            <aside class="aside d-flex flex-row flex-wrap justify-content-center">
                <iframe class="map-where-are-we border" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3663.8838345846757!2d-51.155853348952185!3d-23.31997318472867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94eb4368a9ff58fd%3A0x5ce3c5e097f3bd1!2sAv.+Juscelino+Kubitscheck%2C+3600+-+Larsen%2C+Londrina+-+PR%2C+86010-000!5e0!3m2!1spt-BR!2sbr!4v1534171673135" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                <iframe class="fb-page" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FImobiliariaPrius%2F&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=2032663950378037" width="340" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </aside>
        </div>
        <footer class="footer row justify-content-center">
            <div class="real-state-address">
                <h3>Onde estamos?</h3>
                <p>Av. Juscelino Kubitschek, 3600. Esquina com a Rua Brasil.</p>
                <p>CEP 86010-540. Londrina/PR</p>
            </div>
            <span class="col-separator"></span>
            <div>
                <div class="social-network-links d-inline-flex flex-row flex-wrap justify-content-center">
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/ImobiliariaPrius/" target="_blank">
                        <svg width="30" height="30" viewBox="0 0 1792 1792">
                            <path fill="blue" stroke="none" stroke-width="60" d="M1343 12v264h-157q-86 0-116 36t-30 108v189h293l-39 296h-254v759h-306v-759h-255v-296h255v-218q0-186 104-288.5t277-102.5q147 0 228 12z"
                            />
                        </svg>
                    </a>
                    <!-- Github -->
                    <a href="https://github.com/GuDiasOliveira" target="_blank">
                        <svg width="30" height="30" viewBox="0 0 24 24">
                            <path fill="#000000" stroke="none" stroke-width="0.8" d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
                            />
                        </svg>
                    </a>
                    <!-- LinkedIn -->
                    <a href="https://www.linkedin.com/in/gustavo-dias-de-oliveira-83594751/" target="_blank">
                        <svg width="30" height="30" viewBox="0 0 24 24">
                            <path fill="#000000" stroke="none" stroke-width="0.8" d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
                            />
                        </svg>
                    </a>
                </div>
            </div>
        </footer>
    </div>

    <!-- Vue app -->
    <script>
        app = new Vue(vue);
    </script>
    
</body>

</html>