body {
    background-color: #eeeeee;
}

.page-header {
    height: 300px;
    background-image: url('/images/imobiliaria.jpeg');
    background-size: cover;
    background-position-y: center;
    border-radius: 0;
}

#page-title {
    vertical-align: bottom;
    margin-top: 130px;
    color: #ffffff;
    font-weight: 800;
    font-style: italic;
    font-size: 60px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 2px;
}

.main {
    min-height: 500px;
    position: relative;
}

.property-listing {
    max-width: 1400px;
}

.property-empty {
    margin: 0;
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.property-item {
    width: 300px;
    margin: 10px;
    padding: 5px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

.property-item > a {
    text-decoration: unset;
    color: unset;
}

.property-item .property-thumb {
    width: 100%;
    height: 200px;
}

.property-item .property-type {
    font-size: 20px;
    color: red;
}

.property-item .property-price {
    font-size: 27px;
    font-weight: bold;
    color: #0c007c;
}

.property-item .property-totalArea,
.property-item .property-usefulArea,
.property-item .property-rooms {
    padding-right: 20px;
    font-style: italic;
}

.property-item .property-id {
    float: right;
    color: gray;
    font-size: 12px;
}

.aside > * {
    margin: 10px;
}

.aside .fb-page {
    margin-top: auto;
    margin-bottom: auto;
}

.footer {
    height: 200px;
    padding: 20px;
    background-color: #c5e0ff;
}

.footer > div:not(:last-child) {
    margin-right: 10%;
}

.col-separator {
    padding: 0;
    margin: 10px 10px;
    width: 1px;
    background-color: gray;
}

.row-separator {
    padding: 0;
    margin: 10px 10px;
    height: 1px;
    background-color: gray;
}

.social-network-links {
    margin-top: 20px;
}

.social-network-links a {
    padding: 10px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 5px;
    margin: 0 7px;
}

.social-network-links a:hover {
    background-color: #ffffff;
}


@media only screen and (max-width: 700px) {
    .property-item .property-thumb {
        height: 100px;
    }
}