<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">

    <style>
        .page-content {
            margin: 30px auto;
        }

        .page-content header h1 {
            width: 100%;
        }

        .login-form {
            max-width: 450px;
            width: 100%;
            padding: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }

        .login-form .login-error {
            color: red;
        }

        .property-item {
            padding: .40rem 1.25rem;
        }

        .property-item .view-property {
            padding: 10px;
            cursor: pointer;
        }

        .property-item .view-property .property-thumb {
            height: 100px;
            width: 150px;
        }

        .row-separator {
            padding: 0;
            margin: 10px 10px;
            height: 1px;
            background-color: rgba(0,0,0,.125);
        }

        .col-separator {
            padding: 0;
            margin: 10px 10px;
            width: 1px;
            background-color: rgba(0,0,0,.125);
        }

        .edit-property .edit-property-content {
            margin: 0 10px;
        }
    </style>

    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.maskMoney.js"></script>
    <script src="/js/jquery.cookie.js"></script>

    <script>
        Number.prototype.toBrazilCurrency = function () {
            return this.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.").replace(/\.(\d{2})$/g, ',$1');
        }

        vue = {
            el: '#page-content',
        };

        vue.data = {
            errorLogin: '',
            accessToken: '',
            properties: []
        };

        $(document).ready(function () {
            var token = $.cookie('accessToken');
            if (!token)
                return;
            $.ajax({
                type: 'POST',
                url: '/api/verifyToken',
                headers: {
                    Authorization: token
                },
                success: function(data) {
                    // Automatic saved login
                    vue.data.errorLogin = '';
                    vue.data.accessToken = token;
                    $.cookie('accessToken', token);
                    updateData();
                },
                error: function (error) {
                    console.error('Could not automaticly login on admin panel');
                    console.error(error);
                    $.removeCookie('accessToken');
                }
            });
        });

        function checkToken() {
            $.ajax({
                type: 'POST',
                url: '/api/verifyToken',
                headers: {
                    Authorization: vue.data.accessToken
                },
                error: function (error) {
                    vue.data.accessToken = '';
                    $.removeCookie('accessToken');
                }
            });
        }

        function updateData() {
            // Get properties list
            $.get("/api/property", function(data) {
                vue.data.properties = data.data;
            }); 
        }

        function eventClickEditProperty(event) {
            $(this).closest('.property-item').find('.edit-property').slideToggle();
            $('input.property-price').maskMoney({
                thousands:'.',
                decimal:','
            });
            checkToken();
        }

        function submitEditProperty() {
            // Getting form data
            var formData = $(this).serializeArray();
            // Adapting form data
            formData.forEach(function(fdata) {
                if (fdata.name == 'price') {
                    fdata.value = fdata.value.replace(/\./g, '').replace(/,/g, '.');
                }
            });
            // Submitting edit property request
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                headers: {
                    Authorization: vue.data.accessToken
                },
                data: $.param(formData),
                success: function (data) {
                    alert('Editado com sucesso');
                    updateData();
                },
                error: function(error) {
                    alert('Falha ao editar');
                    console.error('Falha ao editar imóvel');
                    console.error(error);
                }
            });
        }
    </script>

    <title>Painel de administração da imobiliária do Gustavo Dias</title>
</head>


<body>
    <!-- Page content -->
    <div class="page-content container" id="page-content">
        <header>
            <h1 class="text-center jumbotron">Painel do administrador</h1>
        </header>
        <div class="login-form" v-if="!accessToken">
            <form id="form-login" action="/api/login" method="POST" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    <label for="login-username">Nome de usuário</label>
                    <input type="text" name="user" class="form-control" id="login-username" placeholder="Usuário">
                </div>
                <div class="form-group">
                    <label for="login-password">Senha</label>
                    <input type="password" name="password" class="form-control" id="login-password" placeholder="Senha">
                </div>
                <p class="login-error" v-if="errorLogin">{{errorLogin}}</p>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div v-else>
            <!-- Admin panel page content -->
            <h2>Todos os imóveis</h2>
            <ul class="property-list list-group">
                <li class="property-item list-group-item" v-bind:data-id="property.property_id" v-for="property in properties">
                    <div class="view-property">
                        <!-- View property on the list -->
                        <div class="alert alert-info d-flex">
                            <img class="property-thumb rounded" v-bind:src="property.thumb_url" v-bind:alt="property.name" />
                            <span class="col-separator"></span>
                            <div class="flex-fill">
                                <div class="property-state-city">{{property.name}}</div>
                                <div class="property-price text-info font-weight-bold" style="font-size: 25px;">R$ {{property.price.toBrazilCurrency()}}</div>
                                <div class="d-flex flex-row">
                                    <div class="property-state-city text-primary" style="margin-right: 70px;">{{property.city_state}}</div>
                                    <div class="property-type text-danger">{{property.type}}</div>
                                </div>
                            </div>
                            <div class="float-right">
                                <div class="property-totalArea">{{property.total_area}} m² total</div>
                                <div class="property-usefulArea">{{property.useful_area}} m² útil</div>
                                <div class="property-rooms">{{property.rooms}} {{property.rooms == 1 ? 'quarto' : 'quartos'}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-property">
                        <!-- Edit property screen -->
                        <div class="row-separator"></div>
                        <div class="edit-property-content">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3>Dados cadastrais</h3>
                                    <!-- Edit property form -->
                                    <form v-bind:action="'/api/property/' + property.property_id" method="PUT" onsubmit="submitEditProperty.bind(this)(); return false;">
                                        <div class="row">
                                            <!-- Property name -->
                                            <div class="form-group col-md-8">
                                                <label for="name">Nome</label>
                                                <input type="text" name="name" v-bind:value="property.name" class="form-control" id="name" placeholder="Nome do imóvel">
                                            </div>
                                            <!-- Property city and state -->
                                            <div class="form-group col-md-4">
                                                <label for="city-state">Cidade - Estado</label>
                                                <input type="text" name="city_state" v-bind:value="property.city_state" class="form-control" id="city-state" placeholder="Cidade e estado do imóvel">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- Property type -->
                                            <div class="form-group col-md-6">
                                                <label for="type">Tipo</label>
                                                <input type="text" name="type" v-bind:value="property.type" class="form-control" id="type" placeholder="Tipo de imóvel">
                                            </div>
                                            <!-- Property price -->
                                            <div class="form-group col-md-6">
                                                <label for="name">Preço</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">R$</span>
                                                    </div>
                                                    <input type="text" name="price" v-bind:value="property.price.toBrazilCurrency()" class="form-control property-price" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- Property total area -->
                                            <div class="form-group col-md-4">
                                                <label for="total-area">Área total</label>
                                                <div class="input-group">
                                                    <input type="number" name="total_area" v-bind:value="property.total_area" class="form-control" id="total-area" placeholder="Área total do imóvel">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">m²</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Property useful area -->
                                            <div class="form-group col-md-4">
                                                <label for="useful-area">Área útil</label>
                                                <div class="input-group">
                                                    <input type="number" name="useful_area" v-bind:value="property.useful_area" class="form-control" id="useful-area" placeholder="Área útil do imóvel">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">m²</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Property rooms -->
                                            <div class="form-group col-md-4">
                                                <label for="rooms">Quartos</label>
                                                <input type="number" name="rooms" v-bind:value="property.rooms" class="form-control" id="rooms" placeholder="Quantidade de quartos">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <h5>Editar / excluir fotos</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <script>
        // Submit form // Login
        function setSubmitLoginFormEvent() {
            $('.login-form form').off('submit', '**');
            $('.login-form form').submit(function (event) {
                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (data) {
                        vue.data.errorLogin = ''
                        vue.data.accessToken = data.data.token;
                        $.cookie('accessToken', data.data.token);
                        updateData();
                    },
                    error: function(error) {
                        vue.data.accessToken = null;
                        $.removeCookie('accessToken');
                        $('.login-form .login-error').show().delay(3000).fadeOut(2000);
                        if (error.status == 401) {
                            vue.data.errorLogin = 'Usuário e senha incorretos!';
                        } else {
                            vue.data.errorLogin = 'Erro ao fazer login!';
                        }
                    }
                });
                event.preventDefault();
            });
        }
        $(document).ready(function () {
            setSubmitLoginFormEvent();
        });

        vue.updated = function() {
            // Fade login error message
            $('.login-form .login-error').delay(3000).fadeOut(2000);

            $('.property-item .edit-property').hide();
            $('.property-item .view-property')
                .off('click', eventClickEditProperty)
                .click(eventClickEditProperty);
            
            setSubmitLoginFormEvent();
        };
    </script>

    <!-- Vue app -->
    <script>
        app = new Vue(vue);
    </script>
</body>


</html>